.container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  //background-color: aqua;

  &-card {
    width: 400px;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: white;
    &-header {
      text-align: center;
      font-size: 2rem;
    }
    &-content {
      margin-top: 1rem;
      mat-form-field {
        margin-bottom: 1rem;
        width: 100%;
        button {
          width: 30px;
          height: 30px;
          mat-icon {
            height: 24px;
            width: 24px;
          }
        }
      }
      button {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}