<div class="container">
    <mat-card class="container-card">
        <div class="container-card-header">Authentication</div>
        <form [formGroup]="form" (ngSubmit)="onLogin(form)" class="container-card-content">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Enter your password </mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-pressed]="hide">
                    <mat-icon [svgIcon]="hide ? 'eye-off-outline' : 'eye-outline'"></mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="loading">
                <span *ngIf="!loading" > Login </span>
                <mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
            </button>
        </form>
    </mat-card>
</div>