.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0 !important;
  padding: 4px 10px;

  &-input {
    padding-right: 10px;
    min-width: 300px;
    height: 40px;
    margin-top: -10px;
    font-size: medium;
    &-label {
      opacity: 0.6;
    }
  }
}

.container {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 73vh;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
}

.download-button {
  margin-left: 10px;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

.pagination-container {
  margin-top: auto;
}

img {
  border-radius: 50%;
}
