<div class="container">
    <div class="search-bar-container">
        <div class="search-bar">
            <mat-form-field>
                <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search">
            </mat-form-field>
        </div>
        <div class="download-button">
            <button mat-raised-button color="primary" (click)="downloadExcel()">Download Excel</button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.number }}</td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let faculty">
                <img [src]="faculty.image" width="50" height="50" alt="Faculty Image">
            </td>
        </ng-container>

        <ng-container matColumnDef="university">
            <th mat-header-cell *matHeaderCellDef>University</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.university }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.name }}</td>
        </ng-container>

        <ng-container matColumnDef="staffCount">
            <th mat-header-cell *matHeaderCellDef>Staff Count</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.staffsCount }}</td>
        </ng-container>

        <ng-container matColumnDef="professors">
            <th mat-header-cell *matHeaderCellDef>Professors</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.professors }}</td>
        </ng-container>

        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef>Rating</th>
            <td mat-cell *matCellDef="let faculty">{{ faculty.rating }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="pagination-container">
        <mat-paginator [pageSizeOptions]="[8,10]" showFirstLastButtons></mat-paginator>
    </div>
</div>

