<mat-toolbar class="toolbar">
    <mat-form-field class="toolbar-input">
        <mat-label class="toolbar-input-label">Search</mat-label>
        <input  (keyup)="searchInput($event)" matInput />
    </mat-form-field>

    <span class="spacer"></span>

    <div class="toolbar-info">
        <h3>Staffs list</h3>
    </div>
</mat-toolbar>

<div class="container">
    <div class="d-flex flex-wrap justify-content-around align-items-center">
        <mat-card *ngFor="let professor of staffs" class="professor-card" >
            <mat-card-content>
                <div class="professor-image-container">
                    <div class="professor-avatar" [style.background-image]="'url(' + professor.avatar + ')'"></div>
                </div>
                <div class="general-info">
                    <mat-card-title>{{ professor.name }}</mat-card-title>
                    <mat-card-subtitle>{{ professor.title }}</mat-card-subtitle>
                </div>

                <p> Rank: {{ professor.rank }}</p>
                <p> Articles: {{professor.articles}}</p>
                <p> Thesis: {{ professor.thesis }}</p>
                <p> Dissertation: {{ professor.dissertation }}</p>

                <a href="http://localhost:4200/pages/staff/{{professor.id}}">
                    <button mat-flat-button color="primary" (click)="selectStaff(professor.id)"> Read more --></button>
                </a>
            </mat-card-content>
        </mat-card>

    </div>

</div>


<mat-paginator
        [length]="100"
        [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
></mat-paginator>
