.toolbar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0 !important;
  padding: 4px 10px;

  &-info {
    font-size: 20px;
    color: #100e0e
  }
}

.professor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.professor-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.professor-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
}

.general-info {
  text-align: center;
}

button {
  text-align: center;
  padding: 5px 20px
}
