.cabinet {
  display: flex;

}

.staff-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.staff-details {
  display: flex;
}

.staff-image img {
  margin: 0 10px;
  border-radius: 50%;
}

.staff-info {
  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: space-around;
  align-items: center
}



.staff-image {
  width: 10%;
  border-radius: 50%;
}

.staff-info {
  margin-left: 150px;
  text-align: center;
}


.graph-container {
  width: 30%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.articles-table {
  width: 100%;
}

.articles-table th, .articles-table td {
  padding: 10px;
}

a {
  text-decoration: none;
}