<div class="cabinet">
    <div class="staff-container">
        <div class="staff-details">
            <div class="staff-image">
                <img [src]="staff.avatar" alt="Staff Image">
            </div>

            <div class="staff-info">
                <div class="main-title">
                    <h1>{{ staff.name }}</h1>
                    <button mat-raised-button color="primary" mat-button> Follow</button>
                </div>
                <div class="info">
                    <h6>Head of the department of Applied mathematics and Computer Analyses, Professor of Computer Science</h6>
                    <p> Email: mersaidaripov@mail.ru</p>
                </div>
            </div>
        </div>

        <table class="articles-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Cited By</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of lastArticles">
                <td>
                    <a href="">{{ article.title }}</a>
                    <p>{{ article.authors}}</p>
                </td>
                <td>{{ article.citedBy }}</td>
                <td>{{ article.year }}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="graph-container">

        <div class="table-data">
            <table class="articles-table">
                <thead>
                <th></th>
                <th>Cited by</th>
                <th>Since 2018</th>
                </thead>
                <tbody>
                <tr>
                    <td>Citations</td>
                    <td>926</td>
                    <td>622</td>
                </tr>
                <tr>
                    <td>h-index</td>
                    <td>16</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>i10-index</td>
                    <td>25</td>
                    <td>19</td>
                </tr>
                </tbody>

            </table>
        </div>
        <div #barGraphContainer></div>
        <div #doughnutChartContainer></div>
    </div>
</div>

