<div class="top">
    <div class="content">
        <h2>Analytics dashboard</h2>
    </div>

    <div class="download-button">
        <button mat-raised-button color="primary" (click)="downloadExcel()">Download Analytics</button>
    </div>
</div>

<div class="dashboard-container">
    <div class="analytics-cards">
        <!-- Total Users Card -->
        <div class="card">
            <h3>Users</h3>
            <h4>{{ totalUsersCount }}</h4>
        </div>

        <!-- Total Dissertations Card -->
        <div class="card">
            <h3>Dissertations</h3>
            <h4>{{ totalDissertations }}</h4>
        </div>

        <!-- Total Article Counts Card -->
        <div class="card">
            <h3> Articles </h3>
            <h4>{{ totalArticleCounts }}</h4>
        </div>

        <!-- Total University Counts Card -->
        <div class="card">
            <h3>Universities</h3>
            <h4>{{ totalUniversityCounts }}</h4>
        </div>
    </div>

    <!-- Line Grah4h -->
    <div class="chart-container">
        <div #chartContainer></div>
    </div>
</div>
